<div ng-include="'components/navbar/navbar.html'"></div>

<!-- START - Code Cloud Browser -->
<div class="container cc-editor">
	<div class="cc-editor__info">
		<form>
			<input id="title" name="Title" class="info__field" type="text" ng-model="editorForm.title" placeholder="Title" auto-grow max-width="340">
			<input id="title" class="info__field" type="text" id="description" ng-model="editorForm.description" placeholder="Description" auto-grow max-width="340">
			<tags-input class="info__field" ng-model="topicTags" placeholder="+ Topic"></tags-input>
			<tags-input class="info__field" ng-model="languageTags" placeholder="+ Language"></tags-input>
			<tags-input class="info__field" ng-model="projectTags" placeholder="+ Project"></tags-input>
		</form>
		<div class="button-group">
			<button id="save" ng-click="saveSnippet()" class="info__field save btn">SAVE</button>
			<button id="delete" ng-show="showFullCtrls" ng-click="deleteSnippet()" class="info__field save btn">DELETE</button>
			<button id="copy-cb" ng-click="copyToClipboard()" class="info__field copy-cb btn">COPY TO CLIPBOARD</button>
			<button id="copy-cb" ng-show="showFullCtrls" ng-click="copyShareUrl()" class="info__field copy-cb btn">COPY SHARE LINK</button>
		</div>
    </div>
	</div>
	<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="editorContent" class="cc-editor__editor">
	</ui-codemirror>

</div>
<!-- END - Code Cloud Browser -->