$side-padding: $app-side-padding;
// Code Cloud Panel - Welcome user, provides instruction and also initiates search and 'new' snippet functionality
.cc-panel {
    background-color: #fff;
    padding-top:1.5%;
    padding-bottom:1.5%;
    position: relative;
    min-height: 26px;
}
    .cc-panel__title {
        margin: 0 auto 0 auto;
        font-size: 20px;
        font-weight: 400;
        width: 60%;
        text-align: center;
        color: $codecloud-green;

    }
    .cc-panel__nav {
        height: 36px; 
        position: absolute;
        left: $side-padding;
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline;
                position:relative;
            }
        }
        .cc-nav {
            display: block;
            float: left;
            margin-right: 1em;
            span {
                color: $codecloud-green;
                font-size: 34px;
            }
            .icon-search {
                font-size: 36px;
                position: absolute;
                top: -0.2em;
                left: 0.2em;
                

            }
            .icon-cloud-upload {
                font-size: 41px;
            }
            
        }
        
      }

      .search-bar {
          height: 2.5em;
          border: none;
          background: #F2F2F2;
          font-size: 1.2em;
          border-radius: 5px;
          padding-left: 3em;
          color: #73c8a9;
        }

// Code Cloud Browser Panel - Welcome user, provides instruction and also initiates search and 'new' snippet functionality
.cc-browser {
    background-color: #f7f7f7;
    overflow: hidden;
    
}   
    .group-switch__desc {
       margin-left: $side-padding;
       margin-right: $side-padding;
       color: $codecloud-green;
    }
    .group-switch {
        display: none; // hide until implemented
        padding-top: 0.9em;
        a {
            background-color: $codecloud-green;
            padding: 5px 9px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background-color: lighten($codecloud-green, 5);
            }
        }

    }

    .cc-editor__editor-preview {
      // popup code preview
       .CodeMirror {
        border: none;
      }
    }
      .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 900px;
      }
      .ngdialog.ngdialog-theme-default .ngdialog-content{
        background-color: #272822 !important;
      }
      .ngdialog-overlay {
        background-color: rgba(255, 255, 255, 0.49);
      }
     


    .topic__section {
        padding: 0.7% 0;
    }
        .section__header {
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            margin: 0;
            color: $codecloud-green;
            text-transform: uppercase;
            letter-spacing: 0.08em;
        }
        .section__card-wrapper {
            padding-left: $side-padding;
            white-space: nowrap;
            display: inline-flex;
            list-style-type: none;

        }
            .card-wrapper__card {
                width: 310px;
                background-color: $codecloud-green;
                float: left;
                margin-left: 1em;
                position: relative;
                padding-left: 0.6em;
                margin-top: 1em;
                white-space: normal;   

                
            }   
                .card__title {
                    font-size: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-family: 'raleway';
                    letter-spacing: 0.05em;
                    margin: 0.3em 0;
                }
                .card__description {
                    margin-bottom: 4em;
                }
                .card__buttons {
                    position: absolute;
                    padding-right: 0.3em;
                    padding-bottom: 0.1em;
                    font-size: 2em;
                    bottom: 0;
                    right: 0;
                    a {
                        margin-left: 0.20em;
                        cursor: pointer;
                    }
                }

