<div ng-include="'components/navbar/navbar.html'"></div>
<!-- START - Code Cloud Browser -->
<div class="container cc-browser">
  <div class="group-switch">
    <span class="group-switch__desc">Group by:</span>
    <a ng-click="groupBy( 'topic' )">Topics</a> -
    <a ng-click="groupBy( 'language' )">Language</a> - 
    <a ng-click="groupBy( 'projects' )">Project</a> -
    <a ng-click="groupBy( 'bugs' )">Bugs</a> -
    <a ng-click="groupBy( 'recent' )">Recent</a> -
    <a ng-click="groupBy( 'favourite' )">Recent</a>
  </div>
    <!-- BEGIN: Recently Edited -->
    <div class="row">
      <div class="topic__section">
        <h1 ng-hide="sharedScope.searchMode" class="section__header">Recently Edited</h1>
        <h1 ng-show="sharedScope.searchMode" class="section__header">Search Results</h1>
        <ul class="section__card-wrapper clearfix">
            <!-- BEGIN: Inner ngRepeat. -->
            <li class="card-wrapper__card" ng-repeat="snippet in snippetList | filter: search" class="repeat-animation">
              <h1 class="card__title">{{snippet.title}}</h1>
              <div class="card__description">{{snippet.description}}</div>
              <div class="card__tags">
              </div>
              <div class="card__buttons">
                <a ng-click="previewSnippet(snippet)" alt="Preview this snippet">
                  <span class="icon-circle-down"></span>
                </a>
                <a ng-click="favouriteSnippet(snippet)" alt="Favourite this snippet">
                  <span class="icon-star-empty"></span>
                </a>
                <a ng-click="deleteSnippet($event, snippet)" alt="Delete this snippet">
                  <span class="icon-bin2"></span>
                </a>
                <a ng-click="copyToClipboard(snippet)" alt="Copy to clipboard">
                  <span class="icon-copy"></span>
                </a>
                <a ng-click="editSnippet(snippet)" alt="Edit snippet">
                  <span class="icon-pencil2"></span>
                </a>
              </div>
            </li><!-- END: Inner ngRepeat. -->
        </ul>
      </div>
    </div><!-- END: End Recently Edited -->

<!-- END - Code Cloud Browser -->

<script type="text/ng-template" id="codemirrorTemplate">
    <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="editorContent" class="cc-editor__editor-preview">
</script>
